@import "rcd";
@import "rcd-material-icons";

@rcd-font-size: 13px;

@rcd-primary-color: #2A5C88;
@rcd-light-primary-color: #426F98;
@rcd-dark-primary-color: #184571;
@rcd-accent-color: #D29136;

.rcd-material {

  .shadow-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .header :extend(.rcd-flex .hbox, .rcd-material .shadow-1) {
    width: 100%;
    background-color: @rcd-primary-color;
    color: white;
    z-index: 2;

    //Material design metrics
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .menu :extend(.rcd-flex .cbox) {
  }
  .title :extend(.rcd-flex .hbox) {
    font-weight: 400;
    font-size: 20px;
    padding-left: 32px;
  }
  .main :extend(.rcd-flex .hbox) {
    width: 100%;
    height: 100%;
  }
  .nav :extend(.rcd-flex .vbox, .rcd-material .shadow-1) {
    z-index: 1;
    padding-top: 5px;
    background-color: #fff;
    flex-shrink: 0;

    //Material design metrics
    width: 240px;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .nav-link :extend(.rcd-flex .hbox, .rcd-core .clickable) {
    width: 100%;
    //Material design metrics
    height: 48px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
  }

  .nav-icon {
    width: 24px;
    height: 24px;

    //Material design metrics
    color: rgba(0, 0, 0, 0.54);
    padding-right: 32px;
  }

  .nav-link-selected {

    //Material design metrics
    color: @rcd-primary-color;
  }

  .content :extend(.rcd-flex .vbox) {
    flex-grow: 1;
    height: 100%;

  }

  .content-child {
    width: 100%;
    //Material design metrics
    padding-left: 24px;
    padding-right: 24px;
  }

  .content-header :extend(.rcd-flex .vbox, .rcd-material .content-child) {
    background-color: #f3f3f3;

    //Material design metrics
    padding-top: 24px;
  }

  .content-title :extend(.rcd-flex .hbox) {
    width: 100%;
    font-size: 20px;

    //Material design metrics
    //font-size: 15px;
  }

  .breadcrumbs :extend(.rcd-flex .hbox) {
    width: 100%;
    margin: 15px 0;
  }

  .link {
    //Material design metrics
    color: @rcd-primary-color;
  }

  .content-description :extend(.rcd-flex .hbox, .rcd-material .content-child) {
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 17px;
  }

  .views :extend(.rcd-flex .hbox, .rcd-material .content-child) {
    //Material design metrics
    padding-bottom: 16px;
  }

  .view :extend(.rcd-flex .vbox) {
    width: 100%;
  }

  .card :extend(.rcd-flex .vbox, .rcd-material .shadow-1) {
    border-radius: 2px;
    background-color: #fff;
  }
  .card-header :extend(.rcd-flex .sbox) {
    width: 100%;
    //Material design metrics
    height: 64px;
    padding-left: 24px;
    padding-right: 14px;
  }
  .card-title :extend(.rcd-flex .hbox) {
    //Material design metrics
    font-size: 20px;
    color: rgba(0, 0, 0, 0.87);
  }
  .card-action-icons :extend(.rcd-flex .hbox) {
    justify-self: flex-end;
    //Material design metrics
    font-size: 24px;
    color: rgba(0, 0, 0, 0.54);
  }
  .card-action-icon :extend(.rcd-flex .hbox, .rcd-material .button) {
    margin-left: 24px;
  }

  .table :extend(.rcd-flex .vbox) {
    //Material design metrics
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
  }
  .table-header :extend(.rcd-flex .hbox) {
    width: 100%;
    //Material design metrics
    height: 56px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    padding-left: 24px;
    padding-right: 24px;
  }
  .table-body :extend(.rcd-flex .vbox) {
  }
  .table-row :extend(.rcd-flex .hbox) {
    border-top: solid rgba(0, 0, 0, 0.12) 1px;
    //Material design metrics
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .table-row-hover {
    //Material design metrics
    background-color: #eee;
  }
  .table-row-selected {
    //Material design metrics
    background-color: #f5f5f5;
  }

  .button :extend(.rcd-core .clickable) {

  }

  .checkbox :extend(.rcd-core .clickable) {
  }

  .checkbox-selected {
    color: @rcd-accent-color;
  }

}