
.rcd-container {
  display: flex;
}

.rcd-horizontal-container :extend(.rcd-container) {
}

.rcd-vertical-container :extend(.rcd-container) {
  flex-direction: column;
}

.rcd-align-items-center {
  align-items: center;
}
