@import "rcd-jsfwk-material";

@rcd-primary-color: #2a5c88;
@rcd-accent-color: #d29136;

.rcd-material-section:not(.rcd-material-subsection) {
  p {
    font-size: 20px;
  }
}

.non-mobile-cell {
  @media (max-width: @rcd-material-max-mobile-width) {
    display: none;
  }
}

.rcd-material-table-cell {
  word-break: break-all;
}

.rcd-material-breadcrumbs-layout {
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.rcd-material-dialog {
  max-width: ~"calc(100% - 32px)";
}

.help-dialog {
  @media (min-width: @rcd-material-min-tablet-width) {
    max-width: @rcd-material-min-tablet-width;
  }

  .help-definition {
    margin-bottom: 8px;
  }

  .help-action-definition :extend(.rcd-flex-hbox) {
    flex-shrink: 0;
    margin-bottom: 8px;
    i {
      margin-right: 8px;
    }
  }
}

.presentation-view {
  h1, h2 {
    font-weight: 400;
    text-align: center;
  }

  h1 {
    font-size: 36px;
    color: @rcd-primary-color;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 24px;
  }
}


