@import "rcd-jsfwk-material";

@rcd-primary-color: #2a5c88;
@rcd-accent-color: #d29136;

.rcd-material-section:not(.rcd-material-subsection) {
  p {
    font-size: 20px;
  }
}

.non-mobile-cell {
  @media (max-width: @rcd-material-max-mobile-width) {
    display: none;
  }
}

.rcd-material-table-cell {
  word-break: break-all;
}
