.dtb-node-details :extend(.rcd-flex-vbox, .rcd-material-shadow) {
  background-color: #fff;

  span:first-child {
    color: @rcd-primary-text-dark-color;
    font-size: 16px;
    padding: 16px;
  }
  span:last-child {
    color: @rcd-secondary-text-dark-color;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 16px 16px 16px;
  }
}