.rcd-material-table :extend(.rcd-flex-vbox) {
  //Material design metrics
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.rcd-material-table-header :extend(.rcd-flex-hbox) {
  width: 100%;
  //Material design metrics
  height: 56px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 24px;
  padding-right: 24px;
}

.rcd-material-table-body :extend(.rcd-flex-vbox) {
}

.rcd-material-table-row :extend(.rcd-flex-hbox) {
  border-top: solid rgba(0, 0, 0, 0.12) 1px;
  //Material design metrics
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.rcd-material-table-row.selected {
  //Material design metrics
  background-color: #f5f5f5;
}

.rcd-material-table-row-hover {
  //Material design metrics
  background-color: #eee;
}