.dtb-search-params :extend(.rcd-flex-vbox, .rcd-material-shadow) {
  background-color: #fff;
  padding: 16px;

  .rcd-material-dropdown {
    flex-grow: 1;
    select {
      width: 100%;
    }
  }

  .dtb-search-query {
    & > input {
      width: 100%;
    }
  }
}